@charset "UTF-8";
html, body, ul, li, p, div {
  padding: 0;
  margin: 0;
  color: #444;
  line-height: 1.5;
  font-family: "微软雅黑"; }

ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1rem;
  margin: 0; }

a {
  text-decoration: none; }

@media only screen and (min-width: 360px) {
  html {
    font-size: 18px !important; } }
@media only screen and (min-width: 400px) {
  html {
    font-size: 20px !important; } }
@media only screen and (min-width: 440px) {
  html {
    font-size: 22px !important; } }
@media only screen and (min-width: 480px) {
  html {
    font-size: 24px !important; } }
@media only screen and (min-width: 520px) {
  html {
    font-size: 26px !important; } }
@media only screen and (min-width: 560px) {
  html {
    font-size: 28px !important; } }
@media only screen and (min-width: 600px) {
  html {
    font-size: 30px !important; } }
@media only screen and (min-width: 640px) {
  html {
    font-size: 32px !important; } }
.pointer {
  cursor: pointer; }

.none {
  display: none; }

.overflow, .exam-item-box {
  overflow: hidden; }

.overflow-y-auto {
  overflow-y: auto; }

.fb {
  font-weight: bold; }

.fn {
  font-weight: normal; }

.no-unl {
  text-decoration: none; }

.word-break {
  word-break: break-all;
  word-wrap: break-word; }

.hidden {
  overflow: hidden; }

.tl {
  text-align: left !important;
  text-align-last: left; }

.tc, .exam-item-box {
  text-align: center;
  text-align-last: center; }

.tr {
  text-align: right;
  text-align-last: right; }

.tj {
  text-align: justify;
  text-align-last: justify;
  text-justify: inter-ideograph; }

.bc {
  margin-left: auto;
  margin-right: auto; }

.vm {
  vertical-align: middle; }

.vt {
  vertical-align: top; }

.vb {
  vertical-align: bottom; }

.block {
  display: block !important; }

.inline-block, .exam-item-box {
  display: inline-block; }

.m0 {
  margin: 0rem; }

.mt0 {
  margin-top: 0rem; }

.ml0 {
  margin-left: 0rem; }

.mr0 {
  margin-right: 0rem; }

.mb0 {
  margin-bottom: 0rem; }

.m2 {
  margin: 0.125rem; }

.mt2 {
  margin-top: 0.125rem; }

.ml2 {
  margin-left: 0.125rem; }

.mr2 {
  margin-right: 0.125rem; }

.mb2 {
  margin-bottom: 0.125rem; }

.m5 {
  margin: 0.3125rem; }

.mt5 {
  margin-top: 0.3125rem; }

.ml5 {
  margin-left: 0.3125rem; }

.mr5 {
  margin-right: 0.3125rem; }

.mb5 {
  margin-bottom: 0.3125rem; }

.m10 {
  margin: 0.625rem; }

.mt10 {
  margin-top: 0.625rem; }

.ml10 {
  margin-left: 0.625rem; }

.mr10 {
  margin-right: 0.625rem; }

.mb10 {
  margin-bottom: 0.625rem; }

.m15 {
  margin: 0.9375rem; }

.mt15 {
  margin-top: 0.9375rem; }

.ml15 {
  margin-left: 0.9375rem; }

.mr15 {
  margin-right: 0.9375rem; }

.mb15 {
  margin-bottom: 0.9375rem; }

.m20 {
  margin: 1.25rem; }

.mt20 {
  margin-top: 1.25rem; }

.ml20 {
  margin-left: 1.25rem; }

.mr20 {
  margin-right: 1.25rem; }

.mb20 {
  margin-bottom: 1.25rem; }

.m25 {
  margin: 1.5625rem; }

.mt25 {
  margin-top: 1.5625rem; }

.ml25 {
  margin-left: 1.5625rem; }

.mr25 {
  margin-right: 1.5625rem; }

.mb25 {
  margin-bottom: 1.5625rem; }

.m30 {
  margin: 1.875rem; }

.mt30 {
  margin-top: 1.875rem; }

.ml30 {
  margin-left: 1.875rem; }

.mr30 {
  margin-right: 1.875rem; }

.mb30 {
  margin-bottom: 1.875rem; }

.p0 {
  padding: 0rem; }

.pt0 {
  padding-top: 0rem; }

.pl0 {
  padding-left: 0rem; }

.pr0 {
  padding-right: 0rem; }

.pb0 {
  padding-bottom: 0rem; }

.p2 {
  padding: 0.125rem; }

.pt2 {
  padding-top: 0.125rem; }

.pl2 {
  padding-left: 0.125rem; }

.pr2 {
  padding-right: 0.125rem; }

.pb2 {
  padding-bottom: 0.125rem; }

.p5 {
  padding: 0.3125rem; }

.pt5 {
  padding-top: 0.3125rem; }

.pl5 {
  padding-left: 0.3125rem; }

.pr5 {
  padding-right: 0.3125rem; }

.pb5 {
  padding-bottom: 0.3125rem; }

.p10 {
  padding: 0.625rem; }

.pt10 {
  padding-top: 0.625rem; }

.pl10 {
  padding-left: 0.625rem; }

.pr10 {
  padding-right: 0.625rem; }

.pb10 {
  padding-bottom: 0.625rem; }

.p15 {
  padding: 0.9375rem; }

.pt15 {
  padding-top: 0.9375rem; }

.pl15 {
  padding-left: 0.9375rem; }

.pr15 {
  padding-right: 0.9375rem; }

.pb15 {
  padding-bottom: 0.9375rem; }

.p20 {
  padding: 1.25rem; }

.pt20 {
  padding-top: 1.25rem; }

.pl20 {
  padding-left: 1.25rem; }

.pr20 {
  padding-right: 1.25rem; }

.pb20 {
  padding-bottom: 1.25rem; }

.p25 {
  padding: 1.5625rem; }

.pt25 {
  padding-top: 1.5625rem; }

.pl25 {
  padding-left: 1.5625rem; }

.pr25 {
  padding-right: 1.5625rem; }

.pb25 {
  padding-bottom: 1.5625rem; }

.p30 {
  padding: 1.875rem; }

.pt30 {
  padding-top: 1.875rem; }

.pl30 {
  padding-left: 1.875rem; }

.pr30 {
  padding-right: 1.875rem; }

.pb30 {
  padding-bottom: 1.875rem; }

.br0 {
  border-radius: 0rem !important; }

.br2 {
  border-radius: 0.125rem !important; }

.br5, .exam-item-box {
  border-radius: 0.3125rem !important; }

.br10 {
  border-radius: 0.625rem !important; }

.br15 {
  border-radius: 0.9375rem !important; }

.br20 {
  border-radius: 1.25rem !important; }

.br25 {
  border-radius: 1.5625rem !important; }

.br30 {
  border-radius: 1.875rem !important; }

.br_100 {
  border-radius: 100%; }

.fs10 {
  font-size: 0.625rem !important; }

.fs11 {
  font-size: 0.6875rem !important; }

.fs12 {
  font-size: 0.75rem !important; }

.fs13 {
  font-size: 0.8125rem !important; }

.fs14 {
  font-size: 0.875rem !important; }

.fs15 {
  font-size: 0.9375rem !important; }

.fs16 {
  font-size: 1rem !important; }

.fs18 {
  font-size: 1.125rem !important; }

.fs20 {
  font-size: 1.25rem !important; }

.fs22 {
  font-size: 1.375rem !important; }

.fs24 {
  font-size: 1.5rem !important; }

.fs26 {
  font-size: 1.625rem !important; }

.fs28 {
  font-size: 1.75rem !important; }

.fs30 {
  font-size: 1.875rem !important; }

.fs32 {
  font-size: 2rem !important; }

.fs34 {
  font-size: 2.125rem !important; }

.fs36 {
  font-size: 2.25rem !important; }

.fs40 {
  font-size: 2.5rem !important; }

.fs46 {
  font-size: 2.875rem !important; }

.fs54 {
  font-size: 3.375rem !important; }

.fs65 {
  font-size: 4.0625rem !important; }

.w50 {
  width: 3.125rem; }

.w65 {
  width: 4.0625rem; }

.w80 {
  width: 5rem; }

.w120 {
  width: 7.5rem; }

.w160 {
  width: 10rem; }

.w100f {
  width: 100%; }

.h10 {
  height: 0.625rem; }

.h40 {
  height: 2.5rem; }

.h43 {
  height: 2.6875rem; }

.h215 {
  height: 13.4375rem; }

.lh1 {
  line-height: 1; }

.lh2 {
  line-height: 2; }

.uba1, .exam-item-box {
  border: 1px solid; }

.ubt1 {
  border-top: 1px solid; }

.ubb1 {
  border-bottom: 1px solid; }

.ubl1 {
  border-left: 1px solid; }

.ubr1 {
  border-right: 1px solid; }

.uba2 {
  border: 2px solid; }

.ubt2 {
  border-top: 2px solid; }

.ubb2 {
  border-bottom: 2px solid; }

.ubl2 {
  border-left: 2px solid; }

.ubr2 {
  border-right: 2px solid; }

.uba3 {
  border: 3px solid; }

.ubt3 {
  border-top: 3px solid; }

.ubb3 {
  border-bottom: 3px solid; }

.ubl3 {
  border-left: 3px solid; }

.ubr3 {
  border-right: 3px solid; }

.uba4 {
  border: 4px solid; }

.ubt4 {
  border-top: 4px solid; }

.ubb4 {
  border-bottom: 4px solid; }

.ubl4 {
  border-left: 4px solid; }

.ubr4 {
  border-right: 4px solid; }

.ub, .slider ul.ulImg li, .alert-modal .alert-dialog .btn-group {
  display: flex !important;
  display: box !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  position: relative; }

.ub-wr {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.ub-rev {
  -webkit-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-direction: reverse; }

.ub-fh {
  width: 100%; }

.ub-fv {
  height: 100%; }

.ub-con {
  position: absolute;
  width: 100%;
  height: 100%; }

.ub-ac {
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.ub-ae {
  -webkit-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.ub-as {
  align-items: stretch; }

.ub-ass {
  align-self: stretch; }

.ub-pc, .slider ul.ulImg li {
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.ub-pa {
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.ub-pb {
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.ub-pe {
  -webkit-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.ub-pj {
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.ub-ver {
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.ub-f1, .alert-modal .alert-dialog .btn-group .btn {
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.ub-f2 {
  position: relative;
  -webkit-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.ub-f3 {
  position: relative;
  -webkit-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.ub-f4 {
  position: relative;
  -webkit-box-flex: 4;
  box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.bg-none {
  background: none !important; }

.bn {
  border: none !important; }

.gray {
  color: #999; }

.orange-bg {
  background-color: #ff8a10; }

.base-border, .exam-item-box {
  border-color: #33cc99; }

.fuzzy-border {
  border-color: #e6e6e6; }

.fuzzy-bg {
  background-color: #e6e6e6; }

.fuzzy-light-border {
  border-color: whitesmoke; }

.desalt-border {
  border-color: #999; }

.warn-border {
  border-color: #ff8a10; }

.fuzzy-color {
  color: #e6e6e6; }

.desalt-dark-color {
  color: #666666; }

.desalt-light-color {
  color: #cccccc; }

.desalt-color {
  color: #999; }

.base-color, .top-tab-box .top-tab-btn.active {
  color: #33cc99; }

.relative-color {
  color: #66ccff; }

.warn-color {
  color: #ff8a10; }

.white-border {
  border-color: #fff; }

.base-light-border {
  border-color: #85e0c2; }

.contrary-border {
  border-color: #f26e4e; }

.contrary-color {
  color: #f26e4e; }

.contrary-light-bg {
  background-color: #fef2f0; }

.white-color, .exam-item-box .bottom-txt {
  color: #fff; }

.gray-border {
  border-color: #f0f0f0; }

.gray-darken-border {
  border-color: #3d3d3d; }

.black-color {
  color: #000; }

.gray-bg {
  background-color: #f0f0f0; }

.gray-light-bg {
  background-color: #fafafa; }

.white-bg {
  background-color: #fff; }

.base-bg, .exam-item-box .bottom-txt {
  background-color: #33cc99; }

.assist-bg {
  background-color: #f09013; }

.assist-color {
  color: #f09013; }

.base-light-bg {
  background-color: #d6f5eb; }

.relative-bg {
  background-color: #66ccff; }

.relative-dark-bg {
  background-color: #1ab2ff; }

.warn-bg {
  background-color: #ff8a10; }

.warn-light-bg {
  background-color: #ffd5a9; }

.btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  border-radius: 0.2em;
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
  text-align: center;
  background: #f3f3f3;
  border: 1px solid #f3f3f3; }

.base-btn {
  background: #33cc99;
  border: 1px solid #33cc99;
  color: #fff; }
  .base-btn:active {
    background: #29a37a;
    color: #fff; }

.assist-btn {
  background: #f09013;
  border: 1px solid #f09013;
  color: #fff; }
  .assist-btn:active {
    background: #c4740c;
    color: #fff; }
  .assist-btn.disabled {
    opacity: 0.7;
    filter: alpha(opacity=70); }

.base-border-btn {
  border: 1px solid #33cc99;
  color: #33cc99; }
  .base-border-btn:hover {
    background: #33cc99;
    color: #fff; }

.slider {
  overflow: hidden;
  min-height: 10rem;
  position: relative; }
  .slider .ulIndex {
    position: absolute;
    width: 100%;
    bottom: 0.5rem;
    text-align: center;
    z-index: 99; }
    .slider .ulIndex li {
      display: inline-block;
      height: 0.5rem;
      width: 0.5rem;
      margin: 0 0.125rem;
      background: #fff;
      opacity: 0.5;
      border-radius: 100%; }
      .slider .ulIndex li.active {
        background: #fff;
        opacity: 1; }
  .slider .slider-item {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%; }
  .slider ul.ulImg {
    position: relative;
    vertical-align: middle;
    height: 100%; }
    .slider ul.ulImg li {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      text-align: center;
      height: 100%; }

.top-tab-box {
  position: relative;
  z-index: 100; }
  .top-tab-box .top-tab-btn {
    color: #555;
    padding: 0.7rem 0 0.6rem; }
    .top-tab-box .top-tab-btn.active {
      border-bottom: 2px solid #33cc99; }

.tab-box {
  display: none; }
  .tab-box.active {
    display: block; }

.zl-img {
  overflow: hidden;
  font-size: 0px; }
  .zl-img li {
    width: 6rem;
    height: 6rem;
    margin: 0 0.1rem 0.5rem;
    position: relative;
    display: inline-block; }
    .zl-img li img {
      width: 100%; }
    .zl-img li span {
      position: absolute;
      bottom: 0;
      height: 1.4rem;
      line-height: 1.4rem;
      text-align: center;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.2);
      color: #fff;
      overflow: hidden;
      font-size: 0.8rem; }

.lis {
  padding: 0.625rem;
  border-bottom: 1px solid #e6e6e6; }
  .lis:last-child {
    border: none; }
  .lis:active {
    background: #fafafa;
    opacity: 0.9; }
  .lis .left-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%; }

.msg-box .msg-cont {
  position: relative; }
  .msg-box .msg-cont:after {
    content: "";
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid transparent;
    border-bottom: 0.625rem solid #f0f0f0;
    position: absolute;
    left: 0.625rem;
    top: -0.4375rem; }

.imgBro-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  height: 100%; }
  .imgBro-wrap .bc-text-head {
    background: #000;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10000;
    color: #fff; }
    .imgBro-wrap .bc-text-head .iconfont {
      color: #fff; }
  .imgBro-wrap .imgBro-box {
    height: 100%;
    width: 100%; }
    .imgBro-wrap .imgBro-box .imgBro-item {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background-size: 100% auto;
      background-position: center center;
      background-repeat: no-repeat; }
  .imgBro-wrap .imgBro-numbox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center; }
    .imgBro-wrap .imgBro-numbox .imgBro-num {
      display: inline-block;
      height: 0.5em;
      width: 0.5em;
      margin: 0 0.1em;
      background: #000;
      opacity: 0.5;
      border-radius: 100%; }
      .imgBro-wrap .imgBro-numbox .imgBro-num.active {
        background: #B92415; }

.headbar {
  height: 3rem; }
  .headbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; }

.head-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5;
  padding: 0 1rem;
  color: #fff;
  line-height: 3rem; }
  .head-icon.left {
    left: 0; }
  .head-icon.right {
    right: 0; }
  .head-icon div {
    line-height: 3rem; }

.page-model {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999; }
  .page-model .in {
    display: block; }
  .page-model .page-modal-cont {
    overflow-y: auto;
    overflow-x: hidden; }

.spinner {
  left: -0.5rem;
  margin: 0rem auto 1.8rem;
  width: 1rem;
  height: 1rem;
  position: relative; }

.cube1, .cube2 {
  background-color: #33cc99;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out; }

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(1em) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(1em) translateY(1em) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(1em) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes cubemove {
  25% {
    transform: translateX(1em) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(1em) rotate(-90deg) scale(0.5); }
  50% {
    transform: translateX(1em) translateY(1em) rotate(-179deg);
    -webkit-transform: translateX(1em) translateY(1em) rotate(-179deg); }
  50.1% {
    transform: translateX(1em) translateY(1em) rotate(-180deg);
    -webkit-transform: translateX(1em) translateY(1em) rotate(-180deg); }
  75% {
    transform: translateX(0px) translateY(1em) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(1em) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }
.showProgress {
  z-index: 20000;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 50%;
  top: 50%;
  width: 5.1875rem;
  height: 5.1875rem;
  border-radius: 0.2rem;
  margin: -3.90625rem 0 0 -3.90625rem;
  padding: 1.3125rem; }
  .showProgress .cont {
    font-size: 0.875rem;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .showProgress .tit {
    font-size: 1rem;
    margin: 0 0 0.3125rem;
    color: #fff;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }

.toast {
  z-index: 10000;
  text-align: center;
  position: fixed;
  left: 0%;
  top: 40%;
  right: 0%;
  margin: 0 auto;
  width: 100%;
  z-index: 111111111; }
  .toast .msg {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: normal;
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
    max-width: 80%;
    word-break: break-all;
    display: inline-block; }

.spinner {
  width: 3.75rem;
  height: 3.75rem;
  position: relative;
  margin: 3.125rem auto 3.125rem; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #33cc99;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -moz-animation: bounce 2.0s infinite ease-in-out;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.double-bounce-text {
  position: absolute;
  bottom: -2.25rem;
  width: 12.5rem;
  margin: 0 0 0 -4.0625rem;
  text-align: center;
  color: #999; }

@-moz-keyframes bounce {
  0%, 100% {
    -moz-transform: scale(0); }
  50% {
    -moz-transform: scale(1); } }
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.arc-cont .img {
  line-height: 1; }
  .arc-cont .img img {
    max-width: 100%; }
.arc-cont .txt {
  line-height: 1.6; }

.tit-arrow {
  background: #e6e6e6;
  color: #999;
  padding: 0.625rem 0.9375rem;
  height: 1.25rem;
  line-height: 1.25rem;
  display: inline-block;
  position: relative; }
  .tit-arrow:after {
    content: "";
    position: absolute;
    top: 0;
    right: -0.875rem;
    width: 0;
    height: 0;
    border-top: 1.25rem solid transparent;
    border-left: 0.9375rem solid #e6e6e6;
    border-bottom: 1.25rem solid transparent; }
  .tit-arrow.base-bg, .exam-item-box .tit-arrow.bottom-txt {
    background: #33cc99;
    color: #fff; }
    .tit-arrow.base-bg:after, .exam-item-box .tit-arrow.bottom-txt:after {
      border-left-color: #33cc99; }
  .tit-arrow.relative-bg {
    background: #66ccff;
    color: #fff; }
    .tit-arrow.relative-bg:after {
      border-left-color: #66ccff; }

.bg-tab-box .bg-tab-btn {
  border-right: 1px solid #e6e6e6;
  position: relative;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e6e6e6; }
  .bg-tab-box .bg-tab-btn:last-child {
    border-right: none; }
  .bg-tab-box .bg-tab-btn.active {
    background: #33cc99;
    color: #fff;
    border-bottom: none; }
    .bg-tab-box .bg-tab-btn.active:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin: 0 0 0 -0.5rem;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.5rem solid #fff; }

.exam-item-box {
  margin: 0.3125rem 0;
  line-height: 0; }
  .exam-item-box .top-img {
    width: 8.75rem;
    height: 6.875rem; }
  .exam-item-box .bottom-txt {
    padding: 0.5rem 0.3125rem;
    font-size: 0.6875rem; }
  .exam-item-box:active {
    opacity: 0.8; }

.problem-box .problem-tit {
  padding: 0.3125rem 0;
  margin: 0 0 0.625rem; }
.problem-box .problem-ul .problem-li {
  margin: 0 0 0.9375rem; }
  .problem-box .problem-ul .problem-li.checked .option-idx {
    color: #fff;
    background: #33cc99; }
  .problem-box .problem-ul .problem-li .option-idx {
    font-style: normal;
    font-size: 1.125rem;
    color: #33cc99;
    border: 1px solid #33cc99;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.625rem;
    text-align: center;
    margin: 0 0.5rem 0 0;
    transition: background 0.4s, color 0.4s; }
    .problem-box .problem-ul .problem-li .option-idx.single {
      border-radius: 100%; }
  .problem-box .problem-ul .problem-li .option-txt {
    color: #999;
    font-size: 0.875rem;
    padding: 0.1875rem 0 0; }
    .problem-box .problem-ul .problem-li .option-txt:active {
      opacity: 0.9;
      transform: scale(0.98); }

.fixed-btn-group {
  border-top: 1px solid #e6e6e6;
  background: #fff; }
  .fixed-btn-group .bottom-btn {
    border-right: 1px solid #e6e6e6;
    padding: 0.5rem 0; }
    .fixed-btn-group .bottom-btn.active-base.active {
      transition: background 0.4s;
      color: #fff;
      background: #33cc99; }
    .fixed-btn-group .bottom-btn:last-child {
      border: none; }
    .fixed-btn-group .bottom-btn:active {
      background: #e6e6e6; }

.alert-modal {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 999; }
  .alert-modal .alert-dialog {
    background: #fff;
    border-radius: 0.3125rem;
    margin: 3.125rem auto;
    max-width: 17.5rem;
    text-align: center; }
    .alert-modal .alert-dialog .cont-up {
      padding: 0.625rem; }
      .alert-modal .alert-dialog .cont-up .head {
        height: 2rem;
        line-height: 2rem;
        font-size: 1rem;
        margin: 0 0 0.625rem; }
      .alert-modal .alert-dialog .cont-up .cont {
        font-size: 0.875rem;
        margin: 0 0 0.625rem; }
    .alert-modal .alert-dialog .btn-group .btn {
      width: 1px;
      border-radius: 0; }
      .alert-modal .alert-dialog .btn-group .btn:first-child {
        border-radius: 0 0 0 0.3125rem; }
      .alert-modal .alert-dialog .btn-group .btn:last-child {
        border-radius: 0 0 0.3125rem 0; }

/*# sourceMappingURL=ks_style.css.map */
