@import "../common/config";
.practice-detail,.pro-detail{
	font-size:0;
	li{
		font-size: toRem(12);
		background-color:$fuzzyColor;
		color:$desaltColor;
		text-align: center !important;
		text-align-last: center !important;
		vertical-align: middle;
		height: toRem(20);
		width: toRem(20);
		border-radius: 50%;
		display: inline-block;
		margin: toRem(6);
	}
	.completed{
		background-color: $baseColor;
		color: #fff;
	}
	.error{
		color: #fff;
		background-color: $contraryColor;
	}
}
