@import "../common/config";
@import "../common/common";
.situation{
	border: toRem(1) solid $baseColor;
	margin: toRem(10);
	border-radius: toRem(5);
}

li{
	font-size: toRem(12);
	background-color: $baseColor;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	height: toRem(20);
	width: toRem(20);
	border-radius: 50%;
	margin: toRem(6);
}
.active{
	background-color: #ff3c3c;
}
