@import "../common/config";
@import "../common/layout";
html,body{
	height:100%;
}
.user-top{
	.left-head{
		width: toRem(60);
		height: toRem(60);
	}
}
.page{
	display:none !important;
	&.active{
		@extend .ub;
	}
}
.typeUserBox{
	.tabCont {
		overflow-y: hidden;
		@extend .ub;
		.page{
			display:none !important;
			&.active{
				@extend .ub,.ub-ver,.ub-f1;
			}
			 
			.pageIn{
				 @extend .ub,.ub-ver,.ub-f1;

			}
		}
	}
}
.scrollBox{
	overflow-y:auto;
	height:10px;
	@extend .ub,.ub-ver,.ub-f1;
}