body {
  background-color: #312d44; }

.top-form-box.bg1 {
  padding: 16.875rem 0 0;
  height: 9.375rem;
  background: url("../../images/share/head1.png") no-repeat top center;
  background-size: 100% auto; }
  .top-form-box.bg1 .go-next-input {
    display: block;
    margin: 0 auto 1.5625rem;
    width: 12.5rem;
    font-size: 1rem; }
  .top-form-box.bg1 .go-next {
    display: block;
    margin: 0 auto; }
.top-form-box.bg2 {
  padding: 2.8125rem 0 0;
  height: 23.875rem;
  background: url("../../images/share/head2.png") no-repeat bottom center;
  background-size: 100% auto; }
  .top-form-box.bg2 .box-w {
    width: 13.75rem;
    margin: 0 auto 0.9375rem; }
  .top-form-box.bg2 .left-input {
    width: 6.875rem;
    height: 2.5rem; }
    .top-form-box.bg2 .left-input .input-bg {
      width: 100%;
      box-sizing: border-box; }
  .top-form-box.bg2 .checkcode-box {
    width: 6.25rem;
    height: 2.46875rem; }
    .top-form-box.bg2 .checkcode-box .btn {
      box-sizing: border-box;
      width: 6.25rem;
      height: 2.46875rem;
      line-height: 2.46875rem; }
  .top-form-box.bg2 .go-next-input {
    display: block;
    margin: 0 auto 0.9375rem;
    width: 12.5rem;
    font-size: 1rem; }
  .top-form-box.bg2 .go-next {
    display: block;
    margin: 0 auto; }
  .top-form-box.bg2 .top-tit-text {
    padding: 0 0 8.125rem;
    font-weight: bolder; }
    .top-form-box.bg2 .top-tit-text .white-color {
      font-size: 1.375rem; }
    .top-form-box.bg2 .top-tit-text .yellow-color {
      font-size: 1.5625rem;
      color: #ffef00; }

.input-bg {
  background: #fff;
  padding: 0.625rem;
  border: none; }

.orange-btn {
  font-size: 1.25rem;
  width: 13.75rem;
  height: 2.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  color: #fff;
  border: none;
  border-radius: 0;
  background-image: -moz-linear-gradient(top, #fea027, #fa8013);
  /* Firefox */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fea027), color-stop(1, #fa8013));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fea027', endColorstr='#fa8013', GradientType='0'); }
  .orange-btn:active {
    color: #fff; }

.bottom-box .tit {
  height: 6.25rem;
  background: url("../../images/share/tit.png") no-repeat center center;
  background-size: auto 100%; }
.bottom-box .row-box {
  padding: 0 1.125rem 0 0.9375rem; }
  .bottom-box .row-box .left-icon {
    background: url("../../images/share/hb.png") no-repeat center center;
    background-size: 2.75rem 2.75rem;
    width: 2.75rem;
    height: 2.75rem; }
  .bottom-box .row-box .right-cont {
    margin: 0 0.9375rem;
    padding: 1rem 0;
    border-bottom: 1px solid #14597B; }
    .bottom-box .row-box .right-cont .left-img {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 100%;
      border: none;
      margin: 0 0.625rem 0 0; }
    .bottom-box .row-box .right-cont .gs-tit {
      font-size: 0.75rem;
      color: #fff;
      margin: 0; }
    .bottom-box .row-box .right-cont .gs-info {
      font-size: 0.75rem;
      color: #00fdfb; }

.dian-list .dian {
  width: 0.3125rem;
  height: 0.3125rem;
  margin: 0 auto 0.3125rem;
  background: #d0d7e9;
  border-radius: 100%;
  display: block; }

.blue-color {
  color: #00fdfb; }

.qus {
  width: 10rem;
  margin: 0 auto 1.875rem;
  padding: 0 0 0.1875rem;
  border-bottom: 1px solid #14597B; }

.blue-btn {
  background: #11a8e2;
  color: #312d44;
  border: none;
  border-bottom: 3px solid #0f88b8;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  width: 12.5rem; }

.btn-yellow {
  background: #ffef00;
  color: #f79421;
  border: none;
  padding: 0; }
  .btn-yellow:active {
    background: #ccbf00;
    color: #f79421; }

/*# sourceMappingURL=share.css.map */
