@charset "UTF-8";
@import "config";
@import "layout";
.bg-none {
    background: none !important;
}

.bn {
    border: none !important;
}

.gray {
    color: #999;
}

.orange-bg {
    background-color: $colorOrange;
}

.base-border {
    border-color: $baseColor;
}

.fuzzy-border {
    border-color: $fuzzyColor;
}

.fuzzy-bg {
    background-color: $fuzzyColor;
}

.fuzzy-light-border {
    border-color: lighten($fuzzyColor, 6%);
}

.desalt-border {
    border-color: $desaltColor;
}

.warn-border {
    border-color: $colorOrange;
}

.fuzzy-color {
    color: $fuzzyColor;
}

.desalt-dark-color {
    color: darken($desaltColor, 20%);
}

.desalt-light-color {
    color: lighten($desaltColor, 20%);
}

.desalt-color {
    color: $desaltColor;
}

.base-color {
    color: $baseColor;
}
.relative-color {
    color: $relativeColor;
}
.warn-color {
    color: $colorOrange;
}

.white-border {
    border-color: $whiteColor;
}

.base-light-border {
    border-color: lighten($baseColor, 20%)
}

.contrary-border {
    border-color: $contraryColor;
}

.contrary-color {
    color: $contraryColor;
}

.contrary-light-bg {
    background-color: lighten($contraryColor, 34%);
}

.white-color {
    color: #fff;
}

.gray-border {
    border-color: $colorGray;
}

.gray-darken-border {
    border-color: darken($colorGray, 70%);
}

.black-color {
    color: #000;
}

.gray-bg {
    background-color: $colorGray;
}

.gray-light-bg {
    background-color: $colorGray1;
}

.white-bg {
    background-color: #fff;
}

.base-bg {
    background-color: $baseColor;
}

.assist-bg {
    background-color: $assistColor;
}

.assist-color {
    color: $assistColor;
}

.base-light-bg {
    background-color: lighten($baseColor, 40%);
}

.relative-bg {
    background-color: $relativeColor;
}

.relative-dark-bg {
    background-color: darken($relativeColor, 15%);
}

.warn-bg {
    background-color: $colorOrange;
}

.warn-light-bg {
    background-color: lighten( $colorOrange, 30%);
}

.btn {
    display: inline-block;
    padding: 0.4em 1.6em;
    border-radius: 0.2em;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
    text-align: center;
    background: lighten($fuzzyColor, 5%);
    border: 1px solid lighten($fuzzyColor, 5%);
}

.base-btn {
    background: $baseColor;
    border: 1px solid $baseColor;
    color: $whiteColor;
    &:active {
        background: darken($baseColor, 10%);
        color: $whiteColor;
    }
}

.assist-btn {
    background: $assistColor;
    border: 1px solid $assistColor;
    color: $whiteColor;
    &:active {
        background: darken($assistColor, 10%);
        color: $whiteColor;
    }
    &.disabled {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }
}

.base-border-btn {
    border: 1px solid $baseColor;
    color: $baseColor;
    &:hover {
        background: $baseColor;
        color: $whiteColor;
    }
}

.slider {
    overflow: hidden;
    min-height: toRem(160);
    position: relative;
    .slider-group {}
    .ulIndex {
        position: absolute;
        width: 100%;
        bottom: toRem(8);
        text-align: center;
        z-index: 99;
        li {
            display: inline-block;
            height: toRem(8);
            width: toRem(8);
            margin: 0 toRem(2);
            background: #fff;
            opacity: 0.5;
            border-radius: 100%;
            &.active {
                background: #fff;
                opacity: 1
            }
        }
    }
    .slider-item {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
    }
    ul.ulImg {
        position: relative;
        vertical-align: middle;
        height: 100%;
        li {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            text-align: center;
            @extend .ub;
            @extend .ub-pc;
            height: 100%;
        }
    }
}

.top-tab-box {
    position: relative;
    z-index: 100;
    .top-tab-btn {
     
        color: #555;
        padding: 0.7rem 0 0.6rem;
        &.active {
            @extend .base-color;
    
            border-bottom:2px solid $baseColor;
        }
    }
}

.tab-box {
    display: none;
    &.active {
        display: block;
    }
}

.zl-img {
    overflow: hidden;
    font-size: 0px;
    li {
        width: 6rem;
        height: 6rem;
        margin: 0 0.1rem 0.5rem;
        position: relative;
        display: inline-block;
        img {
            width: 100%;
        }
        span {
            position: absolute;
            bottom: 0;
            height: 1.4rem;
            line-height: 1.4rem;
            text-align: center;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.2);
            color: #fff;
            overflow: hidden;
            font-size: 0.8rem;
        }
    }
}

.lis {
    padding: toRem(10);
    border-bottom: 1px solid $fuzzyColor;
    &:last-child {
        border: none;
    }
    &:active {
        background: $colorGray1;
        opacity: 0.9;
    }
    .left-img {
        width: toRem(40);
        height: toRem(40);
        border-radius: 100%;
    }
}

.msg-box {
    .msg-cont {
        position: relative;
        &:after {
            content: "";
            border-left: toRem(10) solid transparent;
            border-right: toRem(10) solid transparent;
            border-bottom: toRem(10) solid $colorGray;
            position: absolute;
            left: toRem(10);
            top: toRem(-7);
        }
    }
}

.imgBro-wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    .bc-text-head {
        background: #000;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 10000;
        color:#fff;
        .iconfont{
            color:#fff;
        }
    }
    .imgBro-box {
        height: 100%;
        width: 100%;
        .imgBro-item {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-size: 100% auto;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    .imgBro-numbox {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        .imgBro-num {
            display: inline-block;
            height: 0.5em;
            width: 0.5em;
            margin: 0 0.1em;
            background: #000;
            opacity: 0.5;
            border-radius: 100%;
            &.active {
                background: #B92415;
            }
        }
    }
}

.headbar{
    height:toRem(48);
    &.fixed{
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        z-index: 100;
    }
}
.head-icon{
  position:absolute;
  top:0;
  bottom:0;
  z-index: 5;
  padding:0 toRem(16);
  color:#fff;
  line-height:toRem(48);
  &.left{left:0;}
  &.right{right:0;}
  div{
    line-height:toRem(48);
  }
}


.page-model{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    .in{
      display: block;
    }
    .page-modal-cont{
        overflow-y:auto;
        overflow-x: hidden;
    }
}

.spinner {
    left: -0.5rem;
    margin: 0rem auto 1.8rem;
    width: 1rem;
    height: 1rem;
    position: relative;
}
 
.cube1, .cube2 {
  background-color: $baseColor;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  left: 0;
   
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}
 
.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(1em) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(1em) translateY(1em) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(1em) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}
 
@keyframes cubemove {
  25% {
    transform: translateX(1em) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(1em) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(1em) translateY(1em) rotate(-179deg);
    -webkit-transform: translateX(1em) translateY(1em) rotate(-179deg);
  } 50.1% {
    transform: translateX(1em) translateY(1em) rotate(-180deg);
    -webkit-transform: translateX(1em) translateY(1em) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(1em) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(1em) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
.showProgress{z-index:20000; text-align: center;background: rgba(0,0,0,0.6);position: fixed;left: 50%;top: 50%;width: 5.1875rem;height: 5.1875rem;border-radius: 0.2rem;margin: -3.90625rem 0 0 -3.90625rem;padding: 1.3125rem;
    .cont{font-size: 0.875rem;
    color: #fff;    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
    .tit{    font-size: 1rem;
    margin: 0 0 0.3125rem;
    color: #fff;
    font-weight:normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.toast{
  z-index: 10000;
    text-align: center;
    position: fixed;
    left:0%;
    top: 40%;
    right:0%;
    margin: 0 auto;
    width:100%;
    z-index: 111111111;
    .msg{
        font-size: 1rem;
        padding: 0.5rem 1rem;
        color: #fff;
        font-weight:normal;
        line-height: 1.5;
        background: rgba(0,0,0,0.6);
        border-radius: 0.5rem;
        max-width: 80%;
        word-break: break-all;
        display: inline-block;
    }
}

.spinner {
  width:toRem(60);
  height:toRem(60);

  position: relative;
  margin:toRem(50) auto toRem(50);
}
 
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color:$baseColor;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -moz-animation: bounce 2.0s infinite ease-in-out;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}
 
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.double-bounce-text{
    position: absolute;
    bottom: toRem(-36);
    width:toRem(200);
    margin: 0 0 0 toRem(-65);
    text-align: center;
    color: $desaltColor;
}
@-moz-keyframes bounce {
  0%, 100% { -moz-transform: scale(0.0) }
  50% { -moz-transform: scale(1.0) }
}
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
 
@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.arc-cont{
    .img{
        line-height: 1;
        img{max-width: 100%;}
    }
    .txt{
        line-height:1.6;
    }
}